node {
    size-mode: dyn-size;
    size: 40px;
	fill-color: grey;
    stroke-mode: plain;
    stroke-color: black;
    stroke-width: 2px;
    text-size: 16px;
}

edge {
	fill-color: grey;
}

edge.influence {
	fill-color: black;
}